<%= @classroom.course_name %>
<%= @classroom.semester %>
<%= render 'students/student' %>
 
<h1><%= @student.name %></h1>
<p><%= @student.birthday.strftime("%m/%d/%Y")  %></p>
<p><%= @student.hometown.capitalize %></p>